<p>よくみつけたね！！</p><br>
<p>SNSをチェックしよう（外部リンク)</p>
<a href="https://twitter.com/nyonyo_ka" target="_blank">
  <i class="fab fa-twitter"></i>
</a>
<a href="https://www.instagram.com/ononono_ka/" target="_blank">
  <i class="fab fa-instagram" ></i>
</a><br>
<a href=/day11 >
  <p>もう一度遊ぶ</p>
</a>
