<div id="content9">
  <h2>Shooting</h2>
  <canvas id="screen"></canvas>
  <p id="info"></p>
</div>


<script>
function Point(){
  this.x = 0;
  this.y = 0;
}

var screenCanvas, info;
var run = true;
var fps = 1000 / 30;
var mouse = new Point();

window.onload = function(){


  screenCanvas = document.getElementById("screen");
  screenCanvas.width = 256;
  screenCanvas.height = 256;

  screenCanvas.addEventListener('mousemove', mouseMove, true);
  window.addEventListener('keydown', keyDown, true);

  info = document.getElementById('info');
  (function(){
    info.innerHTML = mouse.x + ' : ' + mouse.y;
    if(run){setTimeout(arguments.callee, fps);}
  })();
}

function mouseMove(event){
  mouse.x = event.clientX - screenCanvas.offsetLeft;
  mouse.y = event.clientY - screenCanvas.offsetTop;
}

function keyDown(event){
  var ck = event.keyCode;
  if(ck === 27){run = false;}
}

</script>

<style>

canvas {
  border: 1px solid gray;
  background-color: white;
}

</style>
