<div id="content10">
  <h1 id="jobs-h1">inovation!!</h1>
  <input type="button" value="Play!!" class="jobsimage" onclick="window.location.reload();" /day10><br><br><br>
  <canvas id="vwrMain" width="492" height="370"></canvas>
  <form name="js">
    <input type="text" placeholder="only alphabet" id="jobstext" onkeyup="(new jobs.textCanvas('vwrMain')).putChar(this.value);" ><br>
    <input type="button" value="TextReset" class="jobsimage" onclick="img()" >
    <input type="button" value="Create Image" class="jobsimage" onclick="chgImg()">
    <input type="button" value="Remake" class="jobsimage" onclick="window.location.reload();" /day10>
  </form><br><br>
  <div><img id="newImg"></div>
  <a href="app" id="jobs-h1">Goto Top</a>
</div>
<%= render "layouts/appfooter" %>

<script>
window.addEventListener("DOMContentLoaded",createcanvas())

function createcanvas(){

  var canvas = document.getElementById('vwrMain');
  var c = canvas.getContext('2d');
  var img = new Image();
  img.src = './assets/jobs.jpg';

  img.onload = function(){
      c.drawImage(img,0, 0);
  }
}
function img(){

  var canvas = document.getElementById('vwrMain');
  var c = canvas.getContext('2d');
  var img = new Image();
  img.src = './assets/jobs.jpeg';

  img.onload = function(){
      c.drawImage(img,0, 0);
  }
  document.js.reset();
}

 function nameSpace(glb,spc){
   var ns = spc.split('.');
   var spcs = glb;
   for(var i=0;i<ns.length;i++){
     spcs = spcs[ns[i]] = new Object();
   }
   return spcs;
 }

 (function(global,_$){
   _$.textCanvas = function(canvasId){
     this.Canvas = global.document.getElementById(canvasId);
     this.putChar = function(val){
       var _cxt = this.Canvas.getContext("2d");
       _cxt.fillStyle = "white";
       _cxt.font = "40pt Arial";
       var canvas = document.getElementById('vwrMain');
       var textWidth = _cxt.measureText(val).width;
       _cxt.fillText(val, 175, 185);

     }
   }
 })(
   this,
   nameSpace(this,'jobs')
 );

function chgImg()
{
  var canvas = document.getElementById('vwrMain');
  var png = canvas.toDataURL();
  document.getElementById("newImg").src = png;
}
</script>



