<script>

    script = document.createElement( 'script' );
    script.src = "//www.youtube.com/iframe_api";
    firstScript = document.getElementsByTagName( 'script' )[ 0 ];
    firstScript.parentNode.insertBefore( script , firstScript );

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {

          playerVars: {
              controls: 0
          },
      });
      player1 = new YT.Player('player1', {

          playerVars: {
              controls: 0
          },
      });
      player2 = new YT.Player('player2', {

          playerVars: {
              controls: 0
          },
      });
      player3 = new YT.Player('player3', {

          playerVars: {
              controls: 0
          },
      });
      player4 = new YT.Player('player4', {

          playerVars: {
              controls: 0
          },
      });
      player5 = new YT.Player('player5', {

          playerVars: {
              controls: 0
          },
      });
      player6 = new YT.Player('player6', {

          playerVars: {
              controls: 0
          },
      });
      player7 = new YT.Player('player7', {

          playerVars: {
              controls: 0
          },
      });

    }

    function myPlayVideo() {
        player.playVideo();
        player1.playVideo();
        player2.playVideo();
        player3.playVideo();
        player4.playVideo();
        player5.playVideo();
        player6.playVideo();
        player7.playVideo();
    }
    function unmute() {
        player.unMute();
        player1.unMute();
        player2.unMute();
        player3.unMute();
        player4.unMute();
        player5.unMute();
        player6.unMute();
        player7.unMute();
    }
    function mute() {
        player.mute();
        player1.mute();
        player2.mute();
        player3.mute();
        player4.mute();
        player5.mute();
        player6.mute();
        player7.mute();
    }
function pausevideo(){
  player.pauseVideo()
  player1.pauseVideo()
  player2.pauseVideo()
  player3.pauseVideo()
  player4.pauseVideo()
  player5.pauseVideo()
  player6.pauseVideo()
  player7.pauseVideo()
}
</script>

<div id="content14">
  <h2>Love Suzuki Yuuna!!</h2>
  <input type="button" name="btn2" value="All Play!!" onclick="myPlayVideo();">
  <input type="button" name="btn2" value="All Pause..." onclick="pausevideo();">
  <input type="button" name="btn1" value="unMute" onclick="unmute();">
  <input type="button" name="btn3" value="Mute" onclick="mute();"><br><br><br>


  <iframe id="player7" width="225" height="400" src="https://www.youtube.com/embed/cJw8NcpVX50?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe id="player" width="225" height="400" src="https://www.youtube.com/embed/a3oKelOxKx0?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe id="player5" width="225" height="400" src="https://www.youtube.com/embed/8YdBXCXVC7w?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe id="player3" width="225" height="400" src="https://www.youtube.com/embed/mNTx9_yeK6M?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe id="player4" width="225" height="400" src="https://www.youtube.com/embed/rmDBw9FMdT4?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe id="player2" width="225" height="400" src="https://www.youtube.com/embed/nF3ffnbUd7U?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



  <iframe id="player6" width="225" height="400"src="https://www.youtube.com/embed/QaLRzYR8d5I?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe id="player1" width="225" height="400" src="https://www.youtube.com/embed/3ChN0b_-ehw?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br><br>
<a href="app">アプリ一覧に戻る</a>
</div>
