#content11 {
  h1{
    .head_test {
        margin:  0;                 /* デフォルトCSS打ち消し */
        font-size:  24px;           /* 文字サイズ指定 */
        position:  relative;        /* 位置調整 */
        font-weight:  normal;       /* 文字の太さ調整 */
        margin-bottom: 15px;        /* 周りの余白指定 */
        border-radius:  2px;        /* 角丸指定 */
    }
    p {
        margin:  0;                 /* デフォルトCSS打ち消し */
        line-height: 2;             /* 行間調整 */
    }
    .head_test-point {
        background-color: #2196F3;  /* 背景色指定 */
        border-radius:  50%;        /* 丸くする */
        padding:  10px;             /* 余白指定 */
        font-size: 40px;            /* 文字サイズ指定 */
        color: #fff;                /* 文字色指定 */
        margin-right: 5px;          /* 周りの余白指定 */
    }
  }
  #findono{

    background-color:#ACDBDA;
    height:480px;
    width:680px;
    margin:0 auto 20px;
    padding:40px 30px 30px 30px;
    display        : inline-block;
    color          : #ffffff;            /* 文字の色 */
    font-size      : 23pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    :
         2px  2px 1px #003366,
        -2px  2px 1px #003366,
         2px -2px 1px #003366,
        -2px -2px 1px #003366,
         2px  0px 1px #003366,
         0px  2px 1px #003366,
        -2px  0px 1px #003366,
         0px -2px 1px #003366;
    a{
      text-decoration: none;
      display        : inline-block;
      color          : #ffffff;            /* 文字の色 */
      font-size      : 23pt;               /* 文字のサイズ */
      letter-spacing : 4px;                /* 文字間 */
      text-shadow    :
           2px  2px 1px #003366,
          -2px  2px 1px #003366,
           2px -2px 1px #003366,
          -2px -2px 1px #003366,
           2px  0px 1px #003366,
           0px  2px 1px #003366,
          -2px  0px 1px #003366,
           0px -2px 1px #003366;
    }
    i{
      font-size:100px;
    }
  }
  a#day11back{
    text-decoration: none;
    color:gray;
    background-color: #ffff66;
    font-size:20px;
    padding:10px;
  }
}

#content13{
    h1{
      margin: 30px 0 0 0 ;
    }
    a{
      font-size: 20px;
      text-decoration: none;
      color:#5ae628;
    }
  #onoquizzone{
    margin: 0 auto;
    padding:30px 30px 30px 30px;
    height:400px;
    width:500px;
    font-size:20px;
    background-color: #ffe0ff;
    position:relative;
    #onocount{
      text-align:right;
    }
    #onomondai{
      font-size: 40px;
      color:black;
    }
    .startbutton{
      border:solid 1px #ccc;
      padding:15px 30px;
      margin:0 0 20px;
      font-family:Arial, sans-serif;
      font-size:1.2em;
      text-transform:uppercase;
      font-weight:bold;
      color:#333;
      cursor:pointer;
    }
    #onorule{

      position: fixed;
      display: none;
      width: 500px;
      height: 400px;
      margin: 0 auto;
      background-color: #e0f8ff;
      z-index: 2;
      cursor: pointer;
      h4{
        text-decoration-line:underline
      }
      p{
        font-size:18px;
        margin:8px;
        font-weight: 800;
        color:black;
      }
    }
  }
}
